In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('./data/original/hoffmann_hcvdat0.csv', index_col=0)
df2 = pd.read_csv('./data/original/reflimr_liver.csv', index_col=0)

df1['label'] = 'reference'
df1.loc[[int(i[1]['Category'][0])!=0 for i in df1.iterrows()], 'label'] = 'patient'
df1.Category = df1.label
df1.drop(['label', 'ALP', 'CHOL'], axis=1, inplace=True)
df1.dropna(inplace=True)

df1 = df1.sort_values(list(df1.columns[1:])).reset_index(drop=True)
df2 = df2.sort_values(list(df1.columns[1:])).reset_index(drop=True)

In [2]:
df1.head()

  Category  Age Sex   ALB   ALT    AST   BIL    CHE  CREA    GGT  PROT
0  patient   19   m  41.0  87.0   67.0  12.0   7.55  62.0   65.0  75.0
1  patient   23   m  47.0  38.9  164.2  17.0   7.09  79.3   90.4  70.1
2  patient   25   m  42.0  63.3  187.7  14.0   6.00  66.9   40.2  70.5
3  patient   27   m  45.0  10.5   37.8  10.0   8.77  55.2   35.9  74.5
4  patient   29   m  41.0   2.4   83.5   6.0  11.49  55.2  130.0  66.5

In [3]:
df2.head()

  Category  Age Sex   ALB   ALT    AST   BIL    CHE  CREA    GGT  PROT
0  patient   19   m  41.0  87.0   67.0  12.0   7.55  62.0   65.0  75.0
1  patient   23   m  47.0  38.9  164.2  17.0   7.09  79.3   90.4  70.1
2  patient   25   m  42.0  63.3  187.7  14.0   6.00  66.9   40.2  70.5
3  patient   27   m  45.0  10.5   37.8  10.0   8.77  55.2   35.9  74.5
4  patient   29   m  41.0   2.4   83.5   6.0  11.49  55.2  130.0  66.5

In [4]:
for i in df1.columns[1:]:
    assert all(df1[i]==df2[i]), 'Error: unequal column: '+i

In [5]:
df1.value_counts('Category')

Category
reference    540
patient       72
dtype: int64

In [6]:
df2.value_counts('Category')

Category
reference    456
patient      156
dtype: int64

In [7]:
# reflimR categories if UCI says "patient"
# so as expected, reflimR doesn't change any patients-->reference, only reference-->patient
df2[df1.Category=='patient'].Category.value_counts()

patient    72
Name: Category, dtype: int64

In [8]:
# reflimR categories if UCI says "reference"
df2[df1.Category=='reference'].Category.value_counts()

reference    456
patient       84
Name: Category, dtype: int64

In [9]:
# UCI categories if reflimR says "patient"
df1[df2.Category=='patient'].Category.value_counts()

reference    84
patient      72
Name: Category, dtype: int64

In [10]:
# UCI categories if reflimR says "reference"
df1[df2.Category=='reference'].Category.value_counts()

reference    456
Name: Category, dtype: int64